/* Styles for desktop screens */
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 2rem;
  width: 80%;
  margin: 75px auto;
  color: white;
  margin-top: 100px;
  background-color: rgba(22, 24, 45, 1);
}

.footer-section {
  flex: 1;
  margin-right: 2rem;
}

.social-media-icons li {
  display: inline-block;
  margin-right: 1rem;
}

.list-unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-unstyled li a {
  color: white;
  opacity: 75%;
  text-decoration: none;
  font-weight: lighter;
}

footer p,
a {
  font-size: 13px;
}

.blogs {
  display: flex;
}

.blogs img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.blog-texts {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

hr {
  border: 0;
  height: 0.5px;
  background-color: #848484;
  margin: 20px auto;
  width: 75%;
  bottom: 5px;
}

.footer-content {
  text-align: center;
  color: #666;
  font-size: 12px;
  margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
  }

  .footer-section {
    margin-bottom: 2rem;
  }

  .social-media-icons {
    margin-top: 1rem;
  }

  .social-media-icons li {
    display: block;
    margin-right: 0;
  }
}
