.modal-content {
  border-radius: 20px;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;

  background-size: cover;
}

.modal-content {
  background-color: #090b1a;
  color: white;
  padding: 13px;
}

.modal-header {
  border-bottom: none;
  padding-top: 25px;
}

.modal-footer {
  border-top: none;
}

.image-select.selected {
  border: solid 4px;
  border-image: linear-gradient(
      to right,
      rgba(78, 10, 148, 1),
      rgba(7, 69, 255, 1)
    )
    1;
  border-radius: 20px;
}

.image-select {
  border-radius: 15px;
  transition: 0.1s;
}

.btn-close {
  color: #fff !important;
}

.modal-title {
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .img-option {
    padding: 20px 0;
  }
}

.container-chk {
  display: block;
  position: relative;
  padding-left: 22px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 52px;
}

.set {
  width: 100%;
  height: 67px;
  border-radius: 4px;
  background: #252222;
  padding-top: 16px;
  padding-left: 16px;
  margin-bottom: 10px;
}

/* Hide the browser's default checkbox */
.container-chk input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.home-container {
  min-height: 70vh;
  align-items: flex-start;
}

.modal-dialog {
  width: 100%;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  border-radius: 3px;
  background-color: #212121;
  border: 1px solid;
}

/* On mouse-over, add a grey background color */
.container-chk:hover input ~ .checkmark {
  background-color: white;
}

/* When the checkbox is checked, add a blue background */
.container-chk input:checked ~ .checkmark {
  background-color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-chk input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-chk .checkmark:after {
  left: 5px;
  top: -1px;
  width: 5px;
  height: 13px;
  border: solid #212121;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.small,
small {
  font-size: 80%;
  font-weight: 400;
  position: relative;
  bottom: 8px;
}

.txt {
  position: relative;
  bottom: 4px;
  left: 2px;
}

.cancel {
  border: 1px solid #252222;
  background: #151414;
  color: white;
  width: 40%;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none !important;
}
.close.focus,
.close:focus {
  outline: 0;
  box-shadow: none !important;
}

.create {
  border: 0.5px solid #ccc;
  background: #151414;
  color: white;
  width: 40%;
}

.close {
  color: white;
  font-weight: 100;
}

.modal-footer {
  justify-content: space-between;
}
